<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste de taches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<h1>Liste de taches</h1>
	<table border="5" cellspacing="5" width="600">
	<tr>
		<th align="center" width="10%">>id</th>
		<th align="center" width="20%">>nom</th>
		<th align="center" width="20%">>auteur</th>
		<th align="center" width="50%">>description</th>
	</tr>
    <tr th:each="tache : ${taches}">
			<tr>
				<td th:text="${tache.id}"></td>
				<td th:text="${tache.name}"></td>
				<td th:text="${tache.creator}"></td>
				<td th:text="${tache.description}"></td>
			</tr>
    </tr>
	</table>
	
		<h1>Ajout tache</h1>
    <form action="/" th:object="${tache}" method="post">
    	<p>Nom :	<input type="text" size="20" th:field="*{name}" /></p>
    	<p>Auteur : <input type="text" size="20" th:field="*{creator}" /></p>
    	<textarea rows="4" cols="40" th:field="*{description}" placeholder="Entrez une description ..."></textarea>
        <p><input type="submit" value="Ajout" /></p>
    </form>
    
</body>
</html>
